{
  "models": [
    {
      "$type": "SceneModel, Assembly-CSharp",
      "rotation": {
        "x": 0.0,
        "y": 0.707106769,
        "z": 0.0,
        "w": 0.707106769,
        "eulerAngles": {
          "x": 0.0,
          "y": 90.0,
          "z": 0.0,
          "normalized": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0,
            "magnitude": 1.0,
            "sqrMagnitude": 1.0
          },
          "magnitude": 90.0,
          "sqrMagnitude": 8100.0
        },
        "normalized": {
          "x": 0.0,
          "y": 0.7071068,
          "z": 0.0,
          "w": 0.7071068,
          "eulerAngles": {
            "x": 0.0,
            "y": 90.0,
            "z": 0.0,
            "normalized": {
              "x": 0.0,
              "y": 1.0,
              "z": 0.0,
              "magnitude": 1.0,
              "sqrMagnitude": 1.0
            },
            "magnitude": 90.0,
            "sqrMagnitude": 8100.0
          }
        }
      },
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\360\\Images\\360CenterShot.jpeg",
      "worldPosition": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "localScale": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "parentId": 0,
      "name": "Entrance Scene",
      "id": -616387072
    },
    {
      "$type": "SceneModel, Assembly-CSharp",
      "rotation": {
        "x": 0.0,
        "y": 1.0,
        "z": 0.0,
        "w": -4.371139E-08,
        "eulerAngles": {
          "x": 0.0,
          "y": 180.0,
          "z": 0.0,
          "normalized": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0,
            "magnitude": 1.0,
            "sqrMagnitude": 1.0
          },
          "magnitude": 180.0,
          "sqrMagnitude": 32400.0
        }
      },
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\360\\Images\\360StorageShot.jpeg",
      "worldPosition": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "localScale": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "parentId": 0,
      "name": "Storage Scene",
      "id": -1822547072
    },
    {
      "$type": "SceneModel, Assembly-CSharp",
      "rotation": {
        "x": 0.0,
        "y": 0.707106769,
        "z": 0.0,
        "w": 0.707106769,
        "eulerAngles": {
          "x": 0.0,
          "y": 90.0,
          "z": 0.0,
          "normalized": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0,
            "magnitude": 1.0,
            "sqrMagnitude": 1.0
          },
          "magnitude": 90.0,
          "sqrMagnitude": 8100.0
        },
        "normalized": {
          "x": 0.0,
          "y": 0.7071068,
          "z": 0.0,
          "w": 0.7071068,
          "eulerAngles": {
            "x": 0.0,
            "y": 90.0,
            "z": 0.0,
            "normalized": {
              "x": 0.0,
              "y": 1.0,
              "z": 0.0,
              "magnitude": 1.0,
              "sqrMagnitude": 1.0
            },
            "magnitude": 90.0,
            "sqrMagnitude": 8100.0
          }
        }
      },
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\360\\Images\\360TillShot.jpeg",
      "worldPosition": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "localScale": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "parentId": 0,
      "name": "Till Scene",
      "id": -785106944
    },
    {
      "$type": "HotspotMediaModel, Assembly-CSharp",
      "actionsContainers": [
        {
          "items": [
            {
              "mappedId": -785106944,
              "key": "LinkToSceneAction",
              "projectParameter": "Till Scene",
              "customParameter": "0"
            }
          ]
        },
        {
          "items": []
        },
        {
          "items": []
        }
      ],
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\Hotspot\\up-arrow.png",
      "worldPosition": {
        "x": 90.26799,
        "y": -14.0760527,
        "z": 40.6639175,
        "normalized": {
          "x": 0.9026799,
          "y": -0.140760526,
          "z": 0.4066392,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 9999.999
      },
      "localScale": {
        "x": 0.200321391,
        "y": 0.200321391,
        "z": 0.200321391,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.346966833,
        "sqrMagnitude": 0.120385982
      },
      "parentId": -616387072,
      "name": "Center to Till Scene",
      "id": 2128069120
    },
    {
      "$type": "HotspotMediaModel, Assembly-CSharp",
      "actionsContainers": [
        {
          "items": [
            {
              "mappedId": -1822547072,
              "key": "LinkToSceneAction",
              "projectParameter": "Storage Scene",
              "customParameter": "0"
            }
          ]
        },
        {
          "items": []
        },
        {
          "items": []
        }
      ],
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\Hotspot\\up-arrow.png",
      "worldPosition": {
        "x": -8.246025,
        "y": -18.9364128,
        "z": -97.8438339,
        "normalized": {
          "x": -0.0824602544,
          "y": -0.189364135,
          "z": -0.9784383,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.001
      },
      "localScale": {
        "x": 0.288470924,
        "y": 0.288470924,
        "z": 0.288470924,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.4996463,
        "sqrMagnitude": 0.249646425
      },
      "parentId": -616387072,
      "name": "Center to Storage Scene",
      "id": -1892151552
    },
    {
      "$type": "HotspotMediaModel, Assembly-CSharp",
      "actionsContainers": [
        {
          "items": [
            {
              "mappedId": -616387072,
              "key": "LinkToSceneAction",
              "projectParameter": "Entrance Scene",
              "customParameter": "0"
            }
          ]
        },
        {
          "items": []
        },
        {
          "items": []
        }
      ],
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\Hotspot\\up-arrow.png",
      "worldPosition": {
        "x": 0.9041311,
        "y": -10.26717,
        "z": 99.46742,
        "normalized": {
          "x": 0.009041311,
          "y": -0.1026717,
          "z": 0.9946742,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.0
      },
      "localScale": {
        "x": 0.300917774,
        "y": 0.300917774,
        "z": 0.300917774,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.5212049,
        "sqrMagnitude": 0.271654516
      },
      "parentId": -1822547072,
      "name": "Storage to Entrance",
      "id": -116044672
    },
    {
      "$type": "HotspotMediaModel, Assembly-CSharp",
      "actionsContainers": [
        {
          "items": [
            {
              "mappedId": -616387072,
              "key": "LinkToSceneAction",
              "projectParameter": "Entrance Scene",
              "customParameter": "0"
            }
          ]
        },
        {
          "items": []
        },
        {
          "items": []
        }
      ],
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\Hotspot\\up-arrow.png",
      "worldPosition": {
        "x": 91.91931,
        "y": -6.691358,
        "z": 38.8080673,
        "normalized": {
          "x": 0.9191931,
          "y": -0.06691358,
          "z": 0.3880807,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.0
      },
      "localScale": {
        "x": 0.223255262,
        "y": 0.223255262,
        "z": 0.223255262,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.386689454,
        "sqrMagnitude": 0.149528742
      },
      "parentId": -785106944,
      "name": "Storage to Entrance",
      "id": -550574592
    },
    {
      "$type": "InfoModel, Assembly-CSharp",
      "text": "Welcome to CREATE VR",
      "isVisible": true,
      "worldPosition": {
        "x": 96.18294,
        "y": 27.3347416,
        "z": -1.28635025,
        "normalized": {
          "x": 0.961829364,
          "y": 0.2733474,
          "z": -0.0128635028,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.0
      },
      "localScale": {
        "x": 0.202282146,
        "y": 0.202282146,
        "z": 0.202282146,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.350362957,
        "sqrMagnitude": 0.1227542
      },
      "parentId": -616387072,
      "name": "Welcome Info",
      "id": -983163264,
      "groupType": 1
    },
    {
      "$type": "VideoMediaModel, Assembly-CSharp",
      "useChromaKey": true,
      "useChromaColor": {
        "x": 0.188235283,
        "y": 0.7411765,
        "z": 0.247058883,
        "w": 1.0,
        "normalized": {
          "x": 0.146727249,
          "y": 0.5777386,
          "z": 0.192579567,
          "w": 0.779488564,
          "magnitude": 1.0,
          "sqrMagnitude": 1.00000012
        },
        "magnitude": 1.28289247,
        "sqrMagnitude": 1.64581323
      },
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\Video\\ChromaKey\\ChromaKey.m4v",
      "worldPosition": {
        "x": 3.04006648,
        "y": -12.8810854,
        "z": 99.12031,
        "normalized": {
          "x": 0.0304006655,
          "y": -0.128810853,
          "z": 0.99120307,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.0
      },
      "localScale": {
        "x": 0.0525223725,
        "y": 0.0525223725,
        "z": 0.0525223725,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.09097142,
        "sqrMagnitude": 0.00827579852
      },
      "parentId": -616387072,
      "name": "Video 1",
      "id": -129608192
    },
    {
      "$type": "QuestionModel, Assembly-CSharp",
      "prefix": "A",
      "question": "Play Chroma Key Video",
      "choices": [
        {
          "choice": "Yes",
          "isCorrect": false,
          "actionsContainer": {
            "items": [
              {
                "mappedId": -129608192,
                "key": "PlayAudioVideoAction",
                "projectParameter": "Video 1",
                "customParameter": "0"
              },
              {
                "mappedId": -779853568,
                "key": "PlayAudioVideoAction",
                "projectParameter": "Intro Audio",
                "customParameter": "0"
              }
            ]
          }
        },
        {
          "choice": "No",
          "isCorrect": false,
          "actionsContainer": {
            "items": [
              {
                "mappedId": -129608192,
                "key": "PlayAudioVideoAction",
                "projectParameter": "Video 1",
                "customParameter": "0"
              },
              {
                "mappedId": -779853568,
                "key": "PlayAudioVideoAction",
                "projectParameter": "Intro Audio",
                "customParameter": "0"
              }
            ]
          }
        }
      ],
      "isVisible": true,
      "worldPosition": {
        "x": -0.220914155,
        "y": -62.2315178,
        "z": 78.27637,
        "normalized": {
          "x": -0.00220914162,
          "y": -0.622315168,
          "z": 0.78276366,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.0
      },
      "localScale": {
        "x": 0.180409312,
        "y": 0.180409312,
        "z": 0.180409312,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.3124781,
        "sqrMagnitude": 0.09764256
      },
      "parentId": -616387072,
      "name": "Question Chroma VID",
      "id": 1288270848,
      "groupType": 1
    },
    {
      "$type": "AudioMediaModel, Assembly-CSharp",
      "volume": 1.0,
      "isVisible": true,
      "resourcePath": "F:/KSJ/360AuthoringTool/Assets/StreamingAssets\\Audio\\en_AirNZ-P1-Lola-P1Lola1.wav",
      "worldPosition": {
        "x": -3.336211,
        "y": -36.08108,
        "z": 93.204216,
        "normalized": {
          "x": -0.03336211,
          "y": -0.360810816,
          "z": 0.9320422,
          "magnitude": 1.0,
          "sqrMagnitude": 1.00000012
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.001
      },
      "localScale": {
        "x": 1.0,
        "y": 1.0,
        "z": 1.0,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 1.73205078,
        "sqrMagnitude": 3.0
      },
      "parentId": -616387072,
      "name": "Intro Audio",
      "id": -779853568
    }
  ]
}